@import "~@/node_modules/primevue/resources/themes/saga-blue/theme.css";
@import "~@/node_modules/primevue/resources/primevue.min.css";
@import "~@/node_modules/primeicons/primeicons.css";

.p-sidebar-content {
	.certificate-thumbs {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		justify-content: center;
		padding: 1rem;
		border: 5px solid #ddd;
		border-radius: 1rem;

		cursor: pointer;

		&:hover{
			border: 5px solid #777;
		}

		&.active {
			border: 5px solid rgb(7, 16, 117);
		}

		.certificate-cid {
			color: #333;
			white-space: nowrap;
			margin: 0.5rem 0.5rem 0 0.5rem;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 90%;
			font-weight: bold;
		}
	}
}

.groupheader-content-holder {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	min-width: calc(100% - 2rem);
	max-width: calc(100% - 2rem);
	width: calc(100% - 2rem);
    padding-left: 2rem;
}

.details-holder {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

	font-size: 1rem;

	.details-title {
		margin-right: .5rem;
		min-width: 13rem;
	}

	.details-value {
		flex-grow: 1;
		font-weight: 500;
	}
}

.strong {
	font-weight: bold;
}

.space-left {
	margin-left: 4rem;
}

.no-wrap {
	white-space: nowrap;
}

.no-wrap-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.shade {
	color: #777;
}

.clickable {
	cursor: pointer;
}

.text-link {
	color: #75bef8;

	&.green {
		color: #22C55E !important;
	}
}

.flex-inline {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-grow {
	flex-grow: 1;
}

.left-space {
	margin-left: .5rem;
}

.allocated-recs {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

	border-bottom: 1px solid #ccc;
	font-size: 1.2rem;
	padding: 1rem;

	width: 100%;

	.allocated-recs-title {
		margin-right: .5rem;
		text-align: right;
	}
	.allocated-recs-value {
		text-align: right;
		font-weight: bold;
	}

	&.small {
		font-size: 1rem;
		border-bottom: none;
		padding: .2rem 1rem;
	}
}

.common-previewer {
	.p-scrollpanel-content {
		overflow: unset !important;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.panels {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;

		width: 100vw;
		height: 100vh;

		.pdf-panel {
			order: 1;
			flex-basis: 50%;
			max-width: 50%;
			height: 100vh;
			overflow: hidden;

			& > div {
				height: 100%;
			}
		}

		.metadata-panel {
			order: 0;
			flex-basis: 50%;
			max-width: 50%;
			height: 100vh;
			overflow: auto;

			padding: .5rem;

			.section {
				margin-bottom: 1rem;

				.total-recs {
					position: relative;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-end;

					border-bottom: 1px solid #ccc;
					font-size: 1.6rem;
					padding: 1rem;

					width: 100%;

					.total-recs-title {
						margin-right: .5rem;
						flex-grow: 1;
						text-align: right;
					}
					.total-recs-value {
						text-align: right;
						font-weight: bold;
					}

					&.small {
						font-size: 1rem;
						border-bottom: none;
						padding: .2rem 1rem;
					}
				}
			}
		}
	}

	.menu-button {
		position: fixed;
		top: .5rem;
		left: .5rem;
		width: 2.75rem;
		height: 2.75rem;
		cursor: pointer;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
		color: #555;
		border: 3px solid #75bef8;
		border-radius: 0.75rem;

		& > i {
			font-size: 1.5rem;
		}

		&:hover {
			background-color: #ddd;
		}
	}

	@media (max-width: 1024px) {
	}

	@media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
		.panels {
			flex-direction: column;

			.pdf-panel {
				flex-basis: 100%;
				max-width: 100%;
			}
	
			.metadata-panel {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}
}

.common-previewer-light {
	@extend .common-previewer !optional;
}
